.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.arrow, .pageButton {
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.arrow:disabled, .pageButton:disabled {
    cursor: default;
}

.listButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}