.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.arrow, .pageButton {
    padding: 8px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.pagination.dark .pageButton,
.pagination.dark .arrow {
  background-color: #23272f;
  color: #f6f7f9;
}

.pagination.light .pageButton,
.pagination.light .arrow {
  background-color: white;
  color: black;
}


.arrow:disabled, .pageButton:disabled {
    cursor: default;
}

.listButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}