.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px){
    .section{
      overflow-y: auto;
      max-height: 1200px;
    }
  }